!
! Cisco IOS Configuration
!
hostname router1
!
!
aaa new-model
!
aaa authentication login default group  local-case
aaa authentication enable default group 
aaa authorization console
aaa authorization exec default group  local if-authenticated 
!
!
user admin1 priv 15 secret secret!
!
interface Loopback0
 description Management Interface
 ip address 10.100.100.1 255.255.255.255
!
interface Gi0/1
 ip address 172.16.1.1 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
interface Gi0/0
 ip address 172.17.1.1 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!

router eigrp 100
network 1.1.1.0
network 2.2.2.0
!
!
ip route 0.0.0.0 0.0.0.0 172.17.1.1
!
!
line con 0
line vty 0 15
transport input all
!
!
ntp source Loopback0
ntp server 8.8.8.8