!
! Cisco IOS Configuration
!
hostname router2
!
!
aaa new-model
!
aaa authentication login default group  local-case
aaa authentication enable default group 
aaa authorization console
aaa authorization exec default group  local if-authenticated 
!
!
user admin2 priv 15 secret secrets!
!
interface Loopback0
 description Management Interface
 ip address 10.100.100.2 255.255.255.255
!
interface Gi0/1
 ip address 172.16.2.1 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
interface ##REMOVE##
 ip address ##REMOVE## ##REMOVE##
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!

router eigrp 100
network 3.3.3.3
network #REMOVE#
!
!
ip route 0.0.0.0 0.0.0.0 98.16.2.43
!
!
line con 0
line vty 0 15
transport input none
!
!
ntp source Loopback0
ntp server 8.8.8.8