!
! Cisco IOS Configuration
!
hostname router3
!
!
aaa new-model
!
aaa authentication login default group  local-case
aaa authentication enable default group 
aaa authorization console
aaa authorization exec default group  local if-authenticated 
!
!
user admin3 priv 15 secret secret1!
!
interface Loopback0
 description Management Interface
 ip address 10.100.100.3 255.255.255.255
!
interface Gi0/0
 ip address 172.16.3.1 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
interface Gi0/2
 ip address 172.19.1.1 255.255.255.0
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!

router eigrp 100
network 4.4.4.4
network #REMOVE#
!
!
ip route 0.0.0.0 0.0.0.0 172.17.2.1
!
!
line con 0
line vty 0 15
transport input ssh
!
!
ntp source Loopback0
ntp server 172.16.3.2